body {
    background-color: black;
    color: #00FF00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

.teleindicador {
    background-color: #222;
    border: 2px solid #00FF00;
    padding: 20px;
    margin-top: 20px;
    font-size: 18px;
    overflow: visible; /* Permite que el contenido no se corte */
}

.train-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.train-info .destino {
    text-align: left;
    flex: 1;
}

.train-info .minutos {
    text-align: right;
    flex: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* Asegura que no haya truncamiento del contenido */
#trainTimes {
    white-space: normal; /* Cambiar a normal para evitar que se corte el texto */
    overflow: visible;   /* Asegura que todo el contenido sea visible */
}

@keyframes type {
    from { width: 0; }
    to { width: 100%; }
}
